{
	"extends": ["@rarible/ts"],
	"rules": {
    "camelcase": "off",
		"object-curly-spacing": ["error", "always"],
    "unicorn/custom-error-definition": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/semi": "off"
	},
  "globals":{
    "BigInt": true
  }
}
