node_modules/
.idea
*.iml
.husky/_

tsconfig.tsbuildinfo
platforms/
plugins/
coverage/

# Build
build/
umd/
test-reports/
cypress/screenshots/
source/locales/_build/
storybook-static
yarn-error.log
lerna-debug.log
