@Library('shared-library') _

def pipelineConfig = [
    "buildCommand": "mkdir -p packages/example/build && echo Hi > packages/example/build/index.html",
    "buildResultDirPath": "packages/example/build"
]

pipelineGHPages(pipelineConfig)
