@Library('shared-library') _

def pipelineConfig = [
    "buildCommand": "yarn --ignore-engines && yarn build-example",
    "buildResultDirPath": "packages/example/build",
    "ghPagesDomain": "example.rarible.org"
]

pipelineGHPages(pipelineConfig)
